/* latin */
@font-face {
    font-family: 'JuraLight';
    font-style: normal;
    font-weight: 300;
    src: local('Jura Light'), local('Jura-Light'),
        url(https://fonts.gstatic.com/s/jura/v9/z7NUdRfiaC4VVW9rRCti0bbWRP0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'JuraRegular';
    font-style: normal;
    font-weight: 400;
    src: local('Jura Regular'), local('Jura-Regular'),
        url(https://fonts.gstatic.com/s/jura/v9/z7NbdRfiaC4VXcRJUQZA3Jw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'JuraMedium';
    font-style: normal;
    font-weight: 500;
    src: local('Jura Medium'), local('Jura-Medium'),
        url(https://fonts.gstatic.com/s/jura/v9/z7NUdRfiaC4VVTdqRCti0bbWRP0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'JuraSemiBold';
    font-style: normal;
    font-weight: 600;
    src: local('Jura SemiBold'), local('Jura-SemiBold'),
        url(https://fonts.gstatic.com/s/jura/v9/z7NUdRfiaC4VVRttRCti0bbWRP0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'HelvetExtThin';
    font-style: normal;
    src: local('Helvetica'), local('Helvetica'),
        url('./assets/fonts/HelveticaExtThn.ttf') format('ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'HelvetUltraComp';
    font-style: normal;
    src: local('Helvetica'), local('Helvetica'),
        url('./assets/fonts/HelveticaExtThn.ttf') format('ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
    font-family: 'HelvetBold';
    font-style: normal;
    src: local('Helvetica'), local('Helvetica'),
        url('./assets/fonts/HelveticaComp.ttf') format('ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'JuraBold';
    font-style: normal;
    font-weight: 700;
    src: local('Jura Bold'), local('Jura-Bold'),
        url(https://fonts.gstatic.com/s/jura/v9/z7NUdRfiaC4VVX9sRCti0bbWRP0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
