html,
body {
    margin: 0;
    padding: 0;
}
.app {
    background: url('../../assets//images//banner-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 175vh;
    background-position: top;
    margin-top: -32em;
    .title {
        top: 0;
        text-transform: uppercase;
        font-size: 0.7em;
        opacity: 0.76;   
        position: absolute;
        font-family: juraLight;
        color: white;
        letter-spacing: 2.5px;
        z-index: 9999;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 1.4em;
    }
    .overlay {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        height: 100%;
        z-index: 2;
    }
    .main-section {
        .logo {
            background: url('../../assets/images/logo.png');
            background-size: cover;
            height: 11em;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
            width: 100%;
            &::after {
                content: '';
                background: white;
                height: 17vh;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                width: 1px;
                margin-bottom: -7.5em;
                opacity: .78;
            }
            .sub-heading {
                display: inline-block;
                z-index: 9999;
                font-family: juraLight !important;
                letter-spacing: 2.2px;
                margin-top: 1.4em;
                text-align: center;
                color: white;
                font-family: Helvetica, sans-serif;
                left: 50%;
                position: relative;
                transform: translateX(-50%);
                top: 65%;
                opacity: .75;
            }
        }
        .click-here {
            position: absolute;
            left: 50%;
            top: 85%;
            transform: translate(-50%, -50%);
            z-index: 9999;
            border: 1px solid white;
            border-radius: 50px;
            box-sizing: border-box;
            background: none;
            color: white;
            outline: none;
            opacity: .680;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: .68em 2.4em;
            font-family: juraLight;
            cursor: pointer;
        }
    }
}
