.header {
    background: black;
    color: white;
    font-family: juraLight;
    position: absolute;
    z-index: 9999;
    opacity: 0.78;
    .logo {
        width: 50%;
        display: block;
        margin: 0 auto;
    }
    .header-items {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        ul {
            padding: 0 0 2em 0;
            margin: 0;
        }
        li {
            cursor: pointer;
            list-style-type: none;
            display: inline-block;
            margin: 0 2.6em;
            &:last-child {
                margin-right: 0;
            }
            &:first-child {
                margin-left: 0;
            }
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}
