.carousel-section {
    overflow: hidden;
    .carousel-item {
        width: 100%;
        height: 700px;
    }
    .slick-dots {
        display: block;
        position: absolute;
        bottom: 1.2em;
        li {
            button::before {
                font-size: 8px;
                color: #676767;
                opacity: 1;
            }
            &.slick-active {
                button::before {
                    color: white;
                }
            }
        }
    }
    .slick-arrow {
        z-index: 9999;
    }
    .slick-prev {
        left: 20px;
        &::before {
            content: '';
            position: relative;
            display: inline-block;
            background: url('../../assets/icons/chevron-left.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .slick-next {
        right: 20px;
    }
}
