.carousel-section {
    overflow: hidden;
    .carousel-item {
        width: 100%;
        height: 50vw;
    }
    .slick-dots {
        display: block;
        position: absolute;
        bottom: 1.2em;
        li {
            button::before {
                font-size: 8px;
                color: #676767;
                opacity: 1;
            }
            &.slick-active {
                button::before {
                    color: white;
                }
            }
        }
    }
}
